body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  background: green;
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
}

h1 {
  color: goldenrod;
}

#startGame,
#newCard {
  background: goldenrod;
  padding: 10px 0;
  width: 250px;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
}

#message-el {
  font-style: italic;
  font-weight: normal;
}
